p Olá #{name},

p Foi solicitado a <b>recuperação da senha</b> de seu usuário em <br> <b>Horacio CRM</b>.

p Para gerar uma nova senha, clique no link abaixo:

a(class='button' href=link) Gerar nova senha
